<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>leon</string>
	<string>marc</string>
	<string>poep</string>
	<string>mama</string>
	<string>papa</string>
	<string>gaap</string>
	<string>plas</string>
	<string>wijn</string>
	<string>bier</string>
	<string>glas</string>
	<string>loop</string>
</array>
</plist>
