<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>LEON</string>
	<string>MARC</string>
	<string>LOEP</string>
	<string>MAMA</string>
	<string>PAPA</string>
	<string>GAAP</string>
	<string>PLAS</string>
	<string>WIJN</string>
	<string>BIER</string>
	<string>GLAS</string>
	<string>LOOP</string>
</array>
</plist>
